<template>
    <ui-layout no-home>
        <ui-container>
            首页
        </ui-container>
    </ui-layout>
</template>

<script>
export default {
    components: { },
    created() { }
};
</script>

<style lang="less">
</style>
