<template>
    <ui-layout no-home>
        <ui-container>
            <hutton>登陆</hutton>
        </ui-container>
    </ui-layout>
</template>

<script>
import forward from "../mixin/forward";
import { STRING } from "../utils/constants";
export default {
    mixins: [forward],
    data() {
        return {
            
        };
    },
    created() {
        
    },
    methods: {
        
    }
};
</script>

<style lang="less">
</style>
