@bg-head: #3366cc;
@gray: #eeeeee;
@hover: #ade1f5;
@primary: #362e2b;
@muted: #bfbfbf;
@success: #58bb84;
@error: #e5003e;
@disable: #bfbfbf;
@hr: #e4e7f0;
@bg-hr: #f7f7f7;
@btn-active: #cc9933;
@000: #000000;
@333: #333333;
@666: #666666;
@999: #999999;
@fff: #ffffff;
@red: #ff0000;
@blue: #0066cc;

// 头高度
@head-height: 44px;
// 普通状态栏高度
@ztl1: 20px;
// iphonex状态栏高度
@ztl2: 40px;
// iphonex底部高度
@x-bottom: 36px;
// 最大宽度
@max-width: 750px;

@import "../../config/project/project.variables.less";
